<footer class="topnav">
    <div class="container">
        All stories belong to <a href='https://www.mlb.com' target="_blank">Major League Baseball</a>
        <a class="grey-text text-lighten-4 right" href="/stories-json">Story JSON</a>
    </div>
</footer>